body {
    background-color: #1f2128;    
}

h1 {
    color: #e8eaed;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 110px;
    font-weight: 200;
    letter-spacing: -0.05em;
    margin-bottom: 20px;
    user-select: none;        
}

.search_container {
    margin-top: 250px;
    text-align: center;    
}

.search_box {
    background-color: #3f4454;
    border-width: 0;
    border-radius: 25px;
    color: #e8eaed;
    line-height: 40px;
    width: 550px;
    height: 50px;
    font-family: "Google Sans", Arial, sans-serif;
    outline: None;
    overflow-x: hidden;
    font-size: medium;
    padding: 0 40px;
}

.search_box:hover:not(:focus) {
    background-color: #4e5466;
}

.search_box:focus {
    border-width: 0;
}

.search_btn {
    background-color: #3f4454;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 20px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;   
}

.search_btn:hover {
    border: 1px solid #5f6368;
}

.links_container {
    text-align: right;
    margin: 25px 50px;
    padding: 0 20px;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    color: #e8eaed;
    font-size: 13px;
    text-decoration: none;
    margin: 10px;
}

.links:hover {
    text-decoration: underline;
}

.images {
    display: inline-block;
    margin-left: -125px; /* Adjust this to position after "le" */
    vertical-align: top;
    color: #8ab4f8;
    font-family: "Google Sans", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.01em;
    user-select: none;
    position: relative;
    top: -38px; /* Fine-tune vertical position */
    left: 186px; /* Fine-tune horizontal position */
}

.google_img_header {
    margin-bottom: -18px;
}

#advsrch_head {
    color: #f28b82;
    font-family: Arial,sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    font-weight: 100;
}

#separator {
    border-bottom: 1px solid black;
}

.adv_labels {
    color: #969ba1;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding-right: 25px;   
}

#adv_main {
    margin-top: 25px;
    margin-left: 50px;    
}

.adv_td_labels {
    padding-bottom: 20px;
}

.adv_td_inputs {
    padding-bottom: 20px;
    width: 50%;
}

.adv_td_buttons {
    padding-bottom: 20px;
}

.adv_input {
    width: 100%;
    border: 1px solid #5c5f5e;
    color: #bdc1c6;
    background-color: transparent;
    height: 25px;
    padding: 1px 8px;
}

.adv_input:focus {
    border: 1px solid #4d90fe;
    outline: 0;
}

.adv_th_left {
    color: #e8eaed;
    padding-bottom: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.adv_th_right {
    color: #e8eaed;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: left;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 13px;
}

.adv_examples {
    font-family: monospace;
    font-size: 11px;
    color: #dadce0;
}

.adv_helpers {
    color: #969ba1;
    font-size: 11px;
    font-family: Arial, sans-serif;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 30px;
}

.adv_btn {
    background: #8ab4f8;
    color: #202124;
    border: 1px solid #3a68b3;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 27px;
    min-width: 54px;
    width: 125px;
}

.adv_btn:hover {
    background-color: #aecbfa;
}